#composer
*/composer.lock
*/vendor

#npm
#*/package-lock.json
*/node_modules

#configuration
*/.env*
*/*.*.json

#application
/vendor
/node_modules
.env*
*.*.json
#/composer.lock
#/package-lock.json
/storage/commands/output
/storage/framework
/storage/attachments
/storage/temp
/storage/imports
public/dist
.vagrant
*.log

#server
server/dist

#scripting
bulk/out

.idea
.phpstorm.meta.php
_ide_helper.php
*.code-workspace
.vscode/*
Makefile
docker-compose.local.yml
docker/
.dockerignore
#compiled resources
public/src/css/style.css
