.text-
{
    &red
    {
        color: $red;
    }
    &green
    {
        color: $green;
    }
    &blue
    {
        color: $blue;
    }
    &yellow
    {
        color: $yellow; 
    }
    &gray
    {
        color: $gray;
    }
    &purple
    {
        color: $purple;
    }
    &pink
    {
        color: $pink;
    }
    &white
    {
        color: $white;
    }
    &starbeauty
    {
        color: $starbeauty;
    }
    &brown
    {
        color: $brown;
    }
}

.background-
{
    &gray
    {
        background-color: $lightgray-bg;
    }
    &transparent
    {
        background-color: transparent;
    }
}
