$white              :#fff;
$red                :#d9534f;
$blue               :#337ab7;
$yellow             :#f0ad4e;
$orange             :#f26721;
$starbeauty         :#FAC841;
$gray               :#777;
$green              :#28a745;
$purple             :#800080;
$pink               :#D54577;
$brown              :#D57445;
$gold               :goldenrod;

$darkgray-text      :#262626;
$gray-text          :#333;
$lightgray-text     :#555;

$form-valid         :#a94442;
$input-border       :#ccc;
$lightgray-border   :#ddd;
$default-gray       :#919097;
$nav-darkgray       :#3c3b40;
$lightgray-bg       :#f5f5f5;

$grid-columns       :12 !default;
$grid-gutter-width  :30px !default;